#nav {
	display: flex;
	width: 100%;
	height: 70px;
	border: 1px solid blue;
	justify-content: space-between;
	background-color: #0046be;
}

#nav>img {
	position: relative;
	left: 7rem;

	height: 70px;
}

#nav>a {
	position: relative;
	right: 7rem;
	top: 25px;
	text-decoration: none;
	color: white;
	font-family: "Human BBY Digital",
		"Human Fallback",
		Arial,
		Helvetica,
		sans-serif;
}

#singIn {
 
	height: 29rem;
	width: 25rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	margin: auto;
}

#singIn>h2 {
	font-family: "Human BBY Digital",
		"Human Fallback",
		Arial,
		Helvetica,
		sans-serif;
	text-align: center;
	font-weight: 600px;
	position: relative;
	top: 20px;
}

#singIn>div {

	position: relative;
	top: 0.7rem;



}

#singIn>div>p,
a {
	text-align: center;

}
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 15px;
	left: 13rem;
	 bottom: 0.5rem; 
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;

	bottom: 0px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #0046be;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}


.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#passHideTest {
	text-align: center;
}

#password,
#mobile,
#submit,
#conPassword {
	position: relative;
	bottom: 19px;
}
#submit{
	background-color: #0046be;
color: white;
border:0px;
border-radius: 5px;
}
input {
	 height: 40px; 
	width: 21rem;
	display: block;
	margin: auto;
	 margin-top: 20px; 
	font-size: 20px;
	border-radius: 5px;
	border: 0.5px solid grey;
}

#formTag>#ptag {
	/* display: block; */
	text-align: center;
	position: relative;
	 top: 1.5rem;
	left: 7rem;
	
}
  #password{
	position: relative;
	bottom:30px
}  

#email {
	position: relative;
	top: 20px
}


#lineBox {
	display: flex;
	position: relative;
	bottom: 50px;
	height: 10px;
}

.line {
	height: 1px;
	width: 8rem;
	border: 0.01px;
	margin: auto;
	background-color: grey;

}

#or {
	font-family: "Human BBY Digital",
		"Human Fallback",
		Arial,
		Helvetica,
		sans-serif;
	position: relative;
	bottom: 24px;

}

#singUpWithGoogle {
	font-family: "Human BBY Digital",
		"Human Fallback",
		Arial,
		Helvetica,
		sans-serif;
	height: 3rem;
	width: 21rem;
	border: 0.01px solid grey;
	margin: auto;
	margin-top: 25px;

	color: #0046be;
	border-radius: 5px;
	border: 1px solid #0046be;
}


#singUpWithGoogle:hover {
	background-color: #0046be;
	color: white;
}

#singUpWithGoogle img {
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	top: 12px;
	left: 50px;
}

#singUpWithGoogle h4 {
	position: relative;
	bottom: 34px;
	left: 2.5rem;
	text-align: center;
}



#singIn>#singInFromSingUp {
	height: 40px;
	width: 22rem;

	margin: auto;
	margin-top: 20px;
	display: flex;
	font-family: "Human BBY Digital",
		"Human Fallback",
		Arial,
		Helvetica,
		sans-serif;
}

#singInFromSingUp>p {
	position: relative;
	left: 10px;
	bottom: 5px;
}

#singInFromSingUp>a {
	position: relative;

	top: 10px;
	left: 15px;
	text-decoration: none;

}